.col__agenda{
    border: solid #dfe5e9 1px;
    border-right: none;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-height: 30px;
    p{
        font-size: 12px;
    }
    .month{
        font-size: 15px;
    }
    div{
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
    }
}
h1{
    font-size: 30px;
}
#primary{
    .col__agenda{
        display: -webkit-inline-box;  
    }  
}
.agenda{
    .col__agenda{
        border: solid #dfe5e9 1px;
        border-top: none;
        border-bottom: none;
        border-right: none;
    }
}
.right{
    background-color: #e7e7e7;
    right: 0;
    border-radius: 5px 0px 0px 5px;
    z-index: 1;
    position: relative;
}
.center{
    background-color: #d9d9d9;
    border: solid white 1px;
} 
.left{
    background-color: rgba(203,203,203,0.5);
    left: 0;   
    border-radius: 0px 5px 5px 0px;
    padding: 2px;
    z-index: 1;
    position: relative;
} 
.both{
    position: relative;
    background-color: #e7e7e7;
    left: 0;   
    border-radius: 5px;  
}
.offset-left{
    margin-left: 50%;   
}
.bg-orange{
    background-color: #ffb16a;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        width: 50%;
        max-width: 80px;
        height: 100%;
        background-color: $orange;
        left: 0px;
        top: 0px;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;
        z-index: -1;
    }
}
.bg-blue{
    background-color: #00b8b4;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        width: 25%;
        max-width: 80px;
        height: 100%;
        background-color: $cyan;
        left: 0px;
        top: 0px;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;
        z-index: -1;
    }    
}
.bg-light-blue{
    background-color: #72cbf5;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        width: 25%;
        max-width: 80px;
        height: 100%;
        background-color: #54c0f2;
        left: 0px;
        top: 0px;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;
        z-index: -1;
    }    
}
.bg-purple{
    background-color: #9a4a75; 
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        width: 75%;
        height: 100%;
        background-color: #894268;
        left: 0px;
        top: 0px;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;
        z-index: -1;
    }     
}
.small-menu{
    transition: 0.5s ease;
}
.profil_picture{
    height: 30px;
    border-radius: 100%;
}
.nav-link{
    position: relative;
    .notification{
        color: white;
        display: inline-block;
        position: absolute;
        background-color: $blue;
        top: 5px;
        height: 17px;
        left: 15px;
        width: 29px;
        border-radius: 5px;
        text-align: center;
        font-size: 12px;
    }
}
.day_19{
    background-color: #fefcbd;
}

.bg-yellow{
    background-color: #fcd600;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        width: 33%;
        height: 100%;
        background-color: #f9ca00;
        left: 0px;
        top: 0px;
        overflow: hidden;
        border-radius: 5px 0px 0px 5px;
        z-index: -1;
        background-image: linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: 3rem 3rem;    
    }    
}
.box{
    position: fixed;
    width: 250px;
    z-index: 10;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 23px -9px rgba(0,0,0,0.75);
}
